/*LAYOUT TO THE WEBPAGE*/

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px, 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    background-color: #6b7a8d;
    font-family: 'Calibri', Arial;
    font-size: 20px;
}


nav{
    top: 0;
    position: sticky;
    grid-area: navbar;
    padding: 1rem;
    background-color: #50595b;
}

aside{
    height: calc(100vh - 50px);
    top: 50px;
    position: sticky;
    grid-area: sidebar;
    z-index: -1;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    padding: 1em;
}

/*MEDIA QUERY*/

@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
}

/*NAV BAR*/
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    padding: 0.5em;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 150px;
}

/*text customisation*/
.navBar li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.navBar li a:hover{
    color: #70e0fa;
}

/*SHARK ICON*/

.sharkIcon{
    top: 0;
    position: sticky;
    width: 5em;
    height: 5em;
}

/*HOMEPAGE - SIDEBAR*/

#dancingShark{
    height: 100vh;
    width: 35vh;
}

#hpLeopard{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: auto;
}

/*ABOUT*/

.sharkAnatomy{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sharkAnatomy, li, a{
    color: black;
}

.sharkDiagram{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

/*makes the image bigger*/
.sharkDiagram img {
    width: 100%;
    max-width: 1200px; 
    height: auto;
    margin: 0 auto;
}

/*Form element*/

.formTitle{
    text-align: center;
    width: 100%;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    background-color: #7693ae;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

label{
    margin-right: 5px;
    font-family: 'calibri', sans-serif;
    padding: 10px 2em;
}

/*GALLERY*/
.galleryGrid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 2rem 0;
}
.galleryGrid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#photoTall{
    grid-row: span 2 / auto;
}

#photoWide{
    grid-column: span 2 / auto;
}


