/*baseline layout for further styling*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*HOME PAGE NAV BAR */

nav{
    top: 0px;
    position: sticky;
    z-index: 1;
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px #b7b7b7;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li{
    height: 80px;
}

.sharkIcon{
    height: 80px;
    width: 80px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav li a:hover{
    color: #161277;
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #b2b2b2b0;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #5f5f5f;
    display: none;  /*function created to show sidebar onclick*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li, a{
    width: 100%;
}

.menuButton{   /*hides menu button // only shown when media query is met*/
    display: none;
}

@media(max-width: 800px){  /*hides on screens smaller than 800px*/
    .hideSmallScreen{
        display: none;
    }
    .menuButton{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/*Home page grid*/

.homepageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
    padding: 25px 5px;
}

.homepageItems{
    height: 70%;
    width: 70%;
}


/*ABOUT PAGE*/

#subheading{
    text-decoration: underline;
}

.sharkAnatomy{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0px;
    padding: 5px;
    color: black;
}

.sharkAnatomy li{
    background-color: lightblue;
    font-size: 15px;
}

.sharkDiagramContainer{
    display: grid;
    justify-content: center;
}

.sharkDiagram{
    height: 65vh;
    width: 185vh;
    margin: 0;
    border: lightcoral dashed;
    border-width: 5px;
}

/*SPECIES PAGE V1*/

/*.sliderContainer{
    position: relative;
    width: 50%;
    margin: 50px auto;
}

.sliderItems img{
    width: 100%;
}
*/

/*SPECIES PAGE*/

.slideContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.textbox{
    position: relative;
    max-width: 900px;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textbox .images{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}

.textbox .slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    height: auto;
}

.slide {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

/* shows slide */
.slide.active{
    opacity: 1;
    pointer-events: auto;
    position: relative;
}

/* styling paragraph to center */
.slide p{
    text-align: center;
    padding: 0 100px;
    font-size: 20px;
}

/* shark names*/
.slide .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name{
    font-size: 30px;
}

.details .scienceName{
    font-style: italic;
    font-size: 20px;
}

/* button placement */
.nextBtn{
    position: absolute;
    transform: translate(450px);
    cursor: pointer;
}

.prevBtn{
    position: absolute;
    transform: translate(-450px);
    cursor: pointer;
}

.nextBtn, .prevBtn{
    border: none;
    font-size: 40px;
    background-color: white;
    font-weight: bold;
    color: black;
}


/*GALLERY*/
.galleryGrid{
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 240px;

}

/*photos sizing*/
.galleryitem{
    width: 100%;  
    height: 100%;
    object-fit: cover; /*makes image cover container without stretching*/
    border-radius: 5px;
    display: block;
}

@media screen and (min-width: 600px){

.item-tall{
    grid-row: span 2 / auto;
}

.item-wide{
    grid-column: span 2 / auto;
}
}

/*FORM*/

.formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.formItems{
    width: 100%;
    padding: 25px;
    background-color: rgb(160, 195, 217);
    box-shadow: 3px 3px 5px #b7b7b7;
}

.formTitle{
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    display: block;
    text-align: center;
}

.formRow{       /*label, input and button on same row*/
    display: flex;
    align-items: center;
    gap: 1rem;
}


#username, #email {
    width: 50%;
    padding: 5px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

#usernameLabel, #emailLabel{
    font-size: 25px;
}

#submit{
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: #555555;
}