body{
    background-color: #91a7c2;
    width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* NAV BAR*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

li, a {
    font-family: 'Impact', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.navLinks{
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}


li a:hover{
    color: #fbcdf8;
}

/*shark icon fixed to the pages*/
.sharkIcon{
    position: fixed;
    top: 1rem;
    left: 10px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    z-index: -1;
}
#title{
    position: relative;
    display: flex;
    flex-grow: 0;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 40px;
}
/*HOMEPAGE*/

.picgroup1{
    height: 350px;
    width: 650px;
}

/*ABOUT PAGE*/
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
}


/*FACT PAGE*/
#bullshark{
    height: 500px;
    width: 500px;
}